<!DOCTYPE html>
<!-- layout.html 템플릿 상속 -->
<!-- latout:decorate - 템플릿의 레이아웃(부모 템플릿)으로 사용할 템플릿을 설정 -->
<!-- 속성 값인 ~{layout}은 해당 파일(layout.html)을 의미 -->
<!-- 이 html 파일은 layout.html을 상속받아서 표준 HTML문서가 됨 (head, meta 등등을 layout으로부터 상속)-->
<html lang="ko" layout:decorate="~{layout}">
  <!-- 부모 템플릿(layout.html)의 th:block 요소의 내용이 자식 템플릿의 div 요소 내용으로 교체됨 -->
  <div layout:fragment="content" class="container my-3">
    <!-- 질문/검색탭 시작 -->
    <div class="row my-3">
      <div class="col-6">
        <a th:href="@{/question/regist}" class="btn btn-primary">질문하기</a>
      </div>
      <div class="col-6">
        <div class="input-group">
          <input
            type="text"
            id="search_kw"
            class="form-control"
            th:value="${kw}"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="btn_search"
            >
              검색
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- 질문/검색탭 끝 -->
    <table class="table">
      <thead class="table-dark">
        <!-- th 요소 중앙정렬 -->
        <tr class="text-center">
          <th>번호</th>
          <!-- 제목 너비는 전체에서 50% 차지 -->
          <th style="width: 50%">제목</th>
          <th>작성자</th>
          <th>작성일시</th>
        </tr>
      </thead>
      <tbody>
        <!-- th: - thymeleaf template engine이 사용하는 속성 -->
        <!--  :each - {Model객체}를 {배열}의 갯수만큼 반복하여 출력(= enhanced for loop, for-each) -->
        <!--  :text=${값} - 해당 요소의 텍스트로 "값"을 출력 -->
        <tr class="text-center" th:each="question, loop : ${questionList}">
          <!-- 질문 번호 = 전체 질문 개수 - (현재 페이지 * 페이지 당 질문 개수) - 나열 인덱스 -->
          <!-- 나열 인덱스: 
            for문 내의 게시물 순서 (현재 페이지에서 표시할 수 있는 게시물의 인덱스)
            즉, [0] ~ [표시 가능한 게시물 목록의 마지막 인덱스] -->
          <td
            th:text="${questionList.getTotalElements 
              - (questionList.number * questionList.size) 
              - loop.index}"
          ></td>
          <!-- 제목 좌측정렬 -->
          <td class="text-start">
            <!-- th:href - thymeleaf의 링크 주소 -->
            <!-- 문자열과 {객체}가 조합될 때는 @{}의 내부를-|로 양 끝을 감싸야 함 (|: 문자열 연결)-->
            <!-- 질문 제목 (링크: 클릭 시 해당 질문으로 이동)-->
            <a
              th:href="@{|/question/detail/${question.id}|}"
              th:text="${question.subject}"
            ></a>
            <!-- 답변이 있다면(if > 0) 개수 표시 
              #lists.size(이터러블객체): 이터러블 객체의 크기 반환 -->
            <span
              class="text-danger small ms-2"
              th:if="${#lists.size(question.answerList) > 0}"
              th:text="${#lists.size(question.answerList)}"
            ></span>
          </td>
          <!-- 작성자 (작성자 정보 있는 경우에만 렌더링) -->
          <td>
            <span
              th:if="${question.author != null}"
              th:text="${question.author.membername}"
            ></span>
          </td>
          <!-- #temporals.format(날짜객체, 날짜포맷). 연-월-일, 시:분:초 -->
          <td
            th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm:ss')}"
          ></td>
        </tr>
      </tbody>
    </table>
    <!-- 페이징처리(페이지 번호) 시작 -->
    <!-- class=pagination, page-item, page-link 등은 bootstrap pagination 컴포넌트의 class -->
    <div th:if="${!questionList.isEmpty()}">
      <ul class="pagination justify-content-center">
        <!-- 이전 페이지가 없으면(!hasPrevious) '이전'링크 비활성화(disabled)  -->
        <li
          class="page-item"
          th:classappend="${!questionList.hasPrevious} ? 'disabled'"
        >
          <a
            class="page-link"
            href="javascript:void(0)"
            th:data-page="${questionList.number-1}"
          >
            <span>이전</span>
          </a>
        </li>
        <!-- 질문 목록(반복문). 현재 페이지와 동일한 페이지면 강조표시(active) -->
        <!-- 현재 페이지 기준 좌우 5개씩 표시 (페이지숫자-5 && 페이지숫자+5) -->
        <!-- #numbers.sequnce(시작, 끝): 시작 ~ 끝 번호까지의 루프를 만드는 thymeleaf의 유틸리티.  -->
        <li
          th:each="page: ${#numbers.sequence(0, questionList.totalPages-1)}"
          th:if="${page >= questionList.number-5 AND page <= questionList.number+5}"
          th:classappend="${page == questionList.number} ? 'active'"
          class="page-item"
        >
          <a
            th:text="${page}"
            class="page-link"
            href="javascript:void(0)"
            th:data-page="${page}"
          ></a>
        </li>
        <!-- 이후 페이지가 없으면(!hasNext) '다음'링크 비활성화(disabled)  -->
        <li
          class="page-item"
          th:classappend="${!questionList.hasNext} ? 'disabled'"
        >
          <a class="page-link" th:href="@{|?page=${questionList.number+1}|}"
            ><span>다음</span></a
          >
        </li>
      </ul>
    </div>
    <!-- 페이징처리(페이지 번호) 끝 -->
    <!-- page, kw로 GET 요청하는 searchForm -->
    <form th:action="@{/question/list}" method="get" id="searchForm">
      <input type="hidden" id="kw" name="kw" th:value="${kw}" />
      <input
        type="hidden"
        id="page"
        name="page"
        th:value="${questionList.number}"
      />
    </form>
    <!-- searchForm 끝 -->
  </div>
  <script layout:fragment="script" type="text/javascript">
    // 페이지 버튼(class 'page-link') 클릭 시 이벤트
    const page_elements = document.getElementsByClassName("page-link");
    // 유사 배열을 실제 배열로 변환(Array.from), 각 버튼에 클릭 함수 추가(forEach(function(element)))
    Array.from(page_elements).forEach(function (element) {
      element.addEventListener("click", function () {
        // input 태그(id 'page', hidden)의 value는 '클릭한 값'으로 설정 (t.d.p = 클릭된 <a> 태그의 data-page 속성값)
        document.getElementById("page").value = this.dataset.page;
        // searchForm sumbit 처리
        document.getElementById("searchForm").submit();
      });
    });
    // 검색 버튼(id 'btn_search') 클릭 시 이벤트
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener("click", function () {
      // 검색어 kw의 value는 input 태그(id 'search_kw')의 value로 설정
      document.getElementById("kw").value =
        document.getElementById("search_kw").value;
      // 첫 페이지(= 0)로 요청 (새로운 검색이므로)
      document.getElementById("page").value = 0;
      // searchForm submit 처리
      document.getElementById("searchForm").submit();
    });
  </script>
</html>
